<div class="page-wrapper">
  <div cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="organizarGrupos($event)">

    <div class="row scroll-view" cdkDropListGroup>

      <div class="col-2" *ngFor="let grupo of grupos">
          <app-grupo [grupo]="grupo" [planos]="grupoPlanos.get(grupo)" (onDrop)="dropPlano($event)"></app-grupo>
      </div>

    </div>

  </div>

  <div class="button-container">
    <button (click)="cadastrarGrupo()" style="border-radius: 20px;" mat-mini-fab color="accent">
    Novo Grupo
    </button>
  </div>
</div>