.button-container {
    text-align: center;
    padding-top: 30px;
}

.page-wrapper {
    height: 80vh;
    min-height: 80vh;
}

.scroll-view {
    overflow-x: auto;
    flex-wrap: nowrap;
    height: 43rem;
    min-height: 43rem;
}