<div class="container">

    <mat-dialog-content>
        
        <div style="text-align: center;" class="row">
            <h1>Novo Plano</h1>
        </div>

        <div class="form-container">
        
            <div class="row campo">
                <mat-form-field class="col" appearance="fill">
                    <input [(ngModel)]="nome" placeholder="Nome">
                </mat-form-field>
            </div>

            <div class="row campo">
                <mat-form-field class="col" appearance="fill">
                    <input [(ngModel)]="valor" placeholder="Valor">
                </mat-form-field>
            </div> 

        </div>

        <div class="botao-container">
            <button (click)="criarPlano()" mat-stroked-button>Criar</button>
        </div>
    </mat-dialog-content>

</div>